# Archivos del sistema
desktop.ini
Thumbs.db

# Carpetas del editor
.vscode/

# Node.js
node_modules/
*.log

# Python
__pycache__/
*.py[cod]

# Archivos comprimidos
*.zip
*.rar

# Otros
.DS_Store

# MuleSoft, Java, Anypoint Studio, Maven & OS
.mule/
.tooling-apps-cache/
target/
*.iml
.idea/
*.log
*.tmp
*.class
*.jar
*.war
*.ear
.DS_Store
node_modules/
*.swp
plugins-tmp/
workingDir/
